.exp {
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-behavior: smooth;

    overflow: hidden;
    overflow-y: scroll;
}

.exp::-webkit-scrollbar {
    background-color: transparent;
}

.exp1-area {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp1-area:nth-child(2) {
    flex-direction: row-reverse;
}

.exp-sec1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.exp-sec1>video {
    height: 100%;
    width: 100%;
    min-height: 20rem;
    min-width: 20rem;

}

.exp-sec1>video>source {
    height: 100%;
    width: 100%;
}

.exp-sec2 {
    height: 70%;
    width: 50%;
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    flex-direction: column;

}

.exp-sec2>h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00adfc;
    margin: 4% 0;
    box-sizing: border-box;
    font-size: clamp(1.5rem, 3vw, 3rem);

}

.exp-sec2>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    width: 90%;
    padding: 0 2%;
    font-size: 15px;
}

.exp-sec2>span {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

#exp-ai {
    margin: 0 3%;
    color: #00adfc;
    transition: all .5s linear;

}

#exp-ai:hover {
    color: grey;
    transform: scale(1.4);
}

@media screen and (max-width:700px) {
    .exp {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .exp-sec2 {
        height: 70%;
        width: 80%;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    .exp-sec2>h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        font-size: clamp(1.5rem, 3vw, 3rem);
        width: 100%;
        text-align: left;
    }

    .exp-sec2>p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        width: 100%;
        text-align: left;

    }

    .exp-sec2>span {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}

@media screen and (max-width:600px) {

    .exp1-area {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .exp1-area:nth-child(2) {
        flex-direction: column;
    }
}