.home {
    width: 100%;
    height: 100dvh;
    background:url(https://t4.ftcdn.net/jpg/04/88/27/17/240_F_488271787_t9NrmA00kJEtvRzF81PXKHmOzdWR2tdI.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    box-sizing: border-box;
    background-attachment: fixed;
    scroll-snap-align: start;
    scroll-behavior: smooth;

}


.home-sec1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3%;
    justify-content: center;
}

.sitename {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: clamp(2.5rem, 6vw, 6rem);
    color: rgb(13, 30, 122);
    letter-spacing: 3px;
    font-weight: 700;
    display: grid;
    place-items: start;
}

.home-sec1>h3 {
    display: grid;
    place-items: start;
    margin: 0.5% 0 1% 0;
    padding: 0 1%;
    color: rgb(13, 30, 122);
    width: 100%;
    font-size: clamp(2rem, 3vw, 3rem);

}

.slogan {
    margin: 0;
    height: 20%;
    width: 50%;
    color: white;
    font-size: clamp(0.8rem, 2vw, 1.2rem);

}

.btns-area {
    height: 3rem;
    width: 90%;
}

.homepage-btns {
    width: 20%;
    min-width: 8rem;
    height:50px;
    min-height:fit-content;
    border-radius: 10px;
    background-color: rgb(13, 30, 122);
    color: white;
    font-weight: 600;
    border-style: none;
    font-size: larger;
    letter-spacing: 2px;
    transition: all .5s ease-in;
}

.homepage-btns:hover {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}


@media screen and (max-width:700px) {
  
    .slogan {
        margin: 0;
        height: 20%;
        width: 80%;
        color: white;
        font-size: clamp(1rem, 3vw, 2rem);
    
    }
}
@media screen and (max-width:550px) {
    .slogan {
        margin: 0;
        height: 20%;
        width: 80%;
        color: white;
        font-size: clamp(1rem, 3vw, 2rem);
    
    }
}


@media screen and (max-width:450px) {
  
    .slogan {
        margin: 0;
        height: 20%;
        width: 100%;
        color: white;
        font-size: clamp(0.8rem, 3vw, 2rem);
    
    }
}
